<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Word Tokenizer</title>
</head>

<body>
    <h1>Nhập 1 câu tiếng Việt</h1>
    <form action="add/" method='post'>
        {% csrf_token %}
        <input name="sent">
        <br><br>
        <input type="submit" value="Phân tích">
    </form>

    <div class="result_TKN">
        <p>{{ t }}</p>
        <h1>Kết quả phân tích câu</h1>
        <table border="1">
            {% for x in kq %}
            <tr>
                <td>{{ x.0 }}</td>
                <td>{{ x.1 }}</td>
                <td>{{ x.2 }}</td>
                <td>{{ x.3 }}</td>
            </tr>
            {% endfor %}
        </table>


        </table>
    </div>
    <div class="classify">
        <h1>Kết quả phân loại câu</h1>
        <p> {{ kqcssf.0 }}</p>
    </div>
</body>

</html>